.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 76px auto;
    width: 100%;

}

.container > div {
    display: flex;
    flex-flow: column wrap;
}

.container > :nth-child(2) {
    margin: 0 20px 0 20px;
}

.container > :nth-child(6) {
    margin: 0 20px 0 20px;
}

.main-news {
    max-width: 555px;
}

.top-news {
    max-width: 262px;
}

.bottom-news {
    max-width: 360px;
}


.middle {
    border-top: 1px solid #E3E3E3;
    width: 100%;
    margin: 30px 0 30px 0;
}

