nav {
    display: flex;
    border-bottom: 1px solid #EAEAEB;
    height: 56px;
    justify-content: center;
    line-height: 56px;
    font-family: 'Lato', sans-serif;
    flex-wrap: wrap;
    max-width: 100%;
}

.logo {
   
    margin-right: auto;
    margin-top: 7px;
    
}

ul {
    
    margin-left: auto;
}

ul a {
    
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 56px;
    text-transform: uppercase;
}

li {
    display: inline; 
}

label {
    margin: 0;
    display: none;
    font-size: 26px;
    line-height: 56px;
}

#toggle {
    display: none;
    
}

@media screen and (max-width: 1170px) and (min-width: 320px)  {
 
    .logo{
      order: 1;
      margin: auto;
    }

    label {
        display: block;
        margin-right: auto;
        cursor: pointer;
    }

    ul {     
        text-align: center;
        width: 100%;
        background-color: white;
        display: none;
        margin: 0;
        z-index: 100000000;
    }

    ul a{
        display: block;
    }
    
    #toggle:checked + ul {
        order: 2;
        display: block;
    }
}    