
.subject {
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 8px;
    display: block;
}

.main-title {
    font-size: 29px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.author-img {
    border-radius: 50%;
}


.author-name {
    color: #808080;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
.resume {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #686868;
}

.title {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

img {
    opacity: 1;
    animation: fadeIn 5s ease;
  }
  
  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  @media screen and (max-width: 1170px) and (min-width: 750px)  { 


    .container {
        margin: 0;
        justify-content: flex-start;
    }

    .container > :nth-child(2) {
        margin: 0 20px 0 0;
    }
    
    .container > :nth-child(5) {
        margin: 0 20px 0 0;
    }

    .container > :nth-child(6) {
        margin: 0;
    }
    
    
    .main-news {
        max-width: 720px;
    }

    .bottom-news, .top-news {
        max-width: 345px;
    }

    .middle {
        display: none;
    }

    .subject{
        margin-top: 10px;
    }

    .main-news :nth-child(2) {
        width: 720px;
    }
        
    .top-news :nth-child(2){
        width: 345px;
    }

}

@media screen and (max-width: 750px) and (min-width: 320px)  { 
    .container {
        margin: 0;
        flex-flow: column;
        justify-content: flex-start;
    }

    nav {
        margin: 0;
    }

    .main-title {
        font-size: 17px;
    }

   .container > div {
       max-width: 290px;
       margin: 50px 0 0 0;
   }

   .main-news :nth-child(2) {
        width: 290px;
        height: 185px;
    }
    .middle {
        display: none;
    }

    
    .top-news :nth-child(2){
        width: 290px;
        height: 185px;
    }

    .container > :nth-child(2) {
        margin: 50px 0 0 0;
    }
    
    .container > :nth-child(6) {
        margin: 50px 0 0 0;
    }

}